@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap");

/* reset nos estilos originais do html */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box; /* sempre faça isso junto com os seletores acima, alguns elementos já vem com margin, padding aplicado e atrapalha muito */
  background: linear-gradient(to left, #757f9a, #d7dde8);
  background-repeat: no-repeat;
  color: white; /* você usa branco no h1 e h2, colocando aqui todos herdam */
  /* font-family: 'Nova Square', cursive; */
  font-family: "Oxanium", cursive;
  height: 100vh;
  width: 100vw;
  position: relative; /* para a .container */
}

h1 {
  font-size: 54px;
}

/* h2 {
  font-size: 30px;
} */

.container {
  /* sempre procure dar largura e altura, percentage/ vh/vw é bom mas o pai deles precisam ter uma largura para os filhos se referenciarem */
  max-width: 400px;
  max-height: 200px;
  position: absolute; /* o elemento pai precisa ser position: relative para ser aplicado */
  /* z-index: 99999999; desnecessário, não precisa sobrepor outro elemento */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex-column {
  /* mesma altura e largura do pai, por isso a importância de definir altura e largura :) */
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 30px; /* tirei do h2 pois é desnecessário ele */
  /* background: linear-gradient(to left, #757F9A, #D7DDE8); */
  background-color: #757f9a;
  padding: 15px;
  border-radius: 4.8px;
  text-decoration: none;
  color: white;
}
